* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.time {
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 150px auto;
    font-size: 18px;
}

.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 5px solid #000;
}

.circle .line {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: black;
    left: 50%;
    transform: translate(-50%, 0);
}

.circle .line:nth-child(1) {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: black;
    left: 50%;
    transform: translate(-50%, 0) rotate(30deg);
}

.circle .line:nth-child(2) {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: black;
    left: 50%;
    transform: translate(-50%, 0) rotate(60deg);
}

.circle .line:nth-child(3) {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: black;
    left: 50%;
    transform: translate(-50%, 0) rotate(90deg);
}

.circle .line:nth-child(4) {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: black;
    left: 50%;
    transform: translate(-50%, 0) rotate(120deg);
}

.circle .line:nth-child(5) {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: black;
    left: 50%;
    transform: translate(-50%, 0) rotate(150deg);
}

.circle .line:nth-child(6) {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: black;
    left: 50%;
    transform: translate(-50%, 0) rotate(180deg);
}

.cover {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hour,
.minute,
.second {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%) rotate(0deg);
    transform-origin: center bottom;
    border-radius: 15px;
}

.hour {
    width: 8px;
    height: 80px;
    background-color: #f00;
}

.minute {
    width: 6px;
    height: 100px;
    background-color: #f40;
}

.second {
    width: 3px;
    height: 120px;
    background-color: #000;
}